<h1><%= @user.username %></h1>

<hr>

<h3>Topics</h3>

<% @user.topics.each do |topic| %>
	<p><%= link_to topic.title, topic_path(topic) %></p>
<% end %>

<h3>Replies</h3>
<% @user.replies.each do |replies| %>
<%= link_to replies.title, reply_path(replies.user_id) %>

<% end %>


<h3>Edit your account</h3>
<p><%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> </p>

